/app/tmp/*
/app/webroot/pdfs/*
/app/webroot/files/*
/app/webroot/dist_outlet_images/*
/app/webroot/img/*
/app/webroot/img/product_img/*
/app/Config/core.php
/app/Config/database.php
/vendors/*
/app/logs/*
.idea/*
.editorconfig
composer.json
build.properties
build.xml
.travis.yml
/nbproject/*
db/*
/.phpintel/*